.text-soundcloud {
  color: #ff7700;
}

.card-selectable {
}

.card-selectable:hover {
  box-shadow: 0px 0px 10px dodgerblue;
}

.card-selected {
  box-shadow: 0px 0px 10px dodgerblue;
}

.card-selected:hover {
  box-shadow: none;
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-soundcloud {
  background-color: #ff7700;
}

.mouse-pointer {

}

.mouse-pointer:hover {
  cursor: pointer;
}
